@model Andarki.Wol.MachineCollection
<div id="body" ng-app="wol">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Wake-on-Lan</h1>
                <br />
                <h2>Select a machine to wake it up.</h2>
            </hgroup>
            <div ng-view></div>
        </div>
    </section>
</div>
