body {
    background-color: rgba(192, 192, 192, 0.4 );
    font-size: 12pt;
}

.grid [class^="col-"] {
    border-bottom: 1px solid #DEDEDE;
    padding: 0.5em 0.5em;
}

.grid-header {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 0.8em;
    background-color: #007AD0;
    background-image: -webkit-gradient(linear, 0% 5%, 0% 100%, from(#0398FF), to(#005C9D));
    background-image: -moz-linear-gradient(center top, #0398FF, #007AD0 50%, #005C9D);
    background-image: linear-gradient(center top, #0398FF, #007AD0 50%, #005C9D);
}

.grid-row {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}