body {
    font-size: 12pt;
    background-color: rgba(192, 192, 192, 0.4 );

    /* Disable pinch-zoom, disable wait between touches for WP8/IE10 */
    -ms-touch-action: pan-y;
}

.grid [class^="col-"] {
    border-bottom: 1px solid #DEDEDE;
    padding: 0.5em;
}

.grid-header {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 0.8em;
    background-color: #007AD0;
    background-image: -moz-linear-gradient(center top, #0398FF, #007AD0 50%, #005C9D);
}

.grid-row {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

@media screen {
    /* Fix text being small on WP8/IE10 */
    @-ms-viewport {
        width: auto!important;
    }
}